<% include ../partials/header %>
<div class="spaced ui link cards centered container">
	<div class="card item-card">
		
		<div class="content">
		
		<form action="/delete?_method=DELETE" method="POST" style="position:relative">
			<button class="ui red button right">Delete</button>
		</form>
		<h1>New User</h1>
		<form action="/profile?_method=PUT" method="POST">
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="username">Username</label>
					<input type="text" name="username" id="username" value="<%=user.username%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="password">Password</label>
					<input type="password" name="password" id="password" value="<%=user.password%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="fname">First Name</label>
					<input type="text" name="fname" id="fname" value="<%=user.fName%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="lname">Last Name</label>
					<input type="text" name="lname" id="lname" value="<%=user.lName%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="street">Street</label>
					<input type="text" name="street" id="street" value="<%=user.street%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="city">City</label>
					<input type="text" name="city" id="city" value="<%=user.city%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="state">State</label>
					<input type="text" name="state" id="state" value="<%=user.state%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="zip">Zip Code</label>
					<input type="text" name="zip" id="zip" value="<%=user.zip%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<div class="ui input labeled">
					<label class="ui label" for="phone">Phone</label>
					<input type="text" name="phone" id="phone" value="<%=user.phone%>"/>
				</div>
			</div>
			<br />
			<div class="form-group">
				<button class="ui primary button">Update</button>
			</div>
			
		</form>

		</div>
	</div>
</div>

<% include ../partials/footer %>